body {
  background-color: #c6c3f3;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div.btnBox {
  background-color: green;
}

.guitar {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.fingerBoard {
  background-color: rgb(150, 95, 95);
  display: flex;
  width: 1000px;
}

.note {
  position: relative;
  width: 20%;
  height: 20px;
  border-style: solid;
  border-color: lemonchiffon;
  border-bottom-width: 2.5px;
  border-right-style: groove;
  border-right-color: lemonchiffon;
  border-right-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fingerBoard:first-child > .note {
  border-bottom-width: 1.5px;
}
.fingerBoard:nth-child(2) > .note {
  border-bottom-width: 1.5px;
}
.fingerBoard:nth-child(3) > .note {
  border-bottom-width: 2px;
}
.fingerBoard:nth-child(4) > .note {
  border-bottom-width: 2px;
}
.fingerBoard:nth-child(5) > .note {
  border-bottom-width: 2.5px;
}

.fingerBoard:last-child > .note {
  border-bottom: none;
}

.clickBtn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  bottom: -12px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  color: rgb(31, 31, 31);
}

.selectedScale {
  transition: all 0.3s linear;
  background-color: mediumslateblue;
  color: ivory;
  border-color: ivory;
}

.whiteCircle {
  background-color: rgb(161, 161, 161);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 0;
}
