body {
  background-color: #c6c3f3;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.guitar {
  display: flex;
  flex-direction: column;
}

.fingerBoard {
  background-color: #ec652b;
  display: flex;
  width: 1000px;
}

.note {
  position: relative;
  width: 20%;
  height: 20px;
  border-style: solid;
  border-color: #dbdbb1;
  border-bottom-width: 3px;
  border-right-style: groove;
  border-right-color: cornsilk;
  border-right-width: 3px;
}

.fingerBoard:last-child .note {
  border-bottom: none;
}

.clickBtn {
  background-color: none;
  position: absolute;
  z-index: 1;
  width: 105%;
  height: 22px;
  bottom: -12px;
}
